<h1><%= @cocktail.name %></h1>

<% @cocktail.doses.each do |dose| %>
<p class="desc"><%= dose.description %></p>
<p><%= dose.ingredient.name %></p>
<% end %>

<div class="form">
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Add a dose", class: "btn btn-danger" %>
<% end %>
</div>

<div class="link">
<%= link_to "Delete this cocktail", cocktail_path,
      method: :delete,
      data: { confirm: "Are you sure?" } %>
</div>

<%= link_to "Back To All Cocktails", root_path %>
